// Bootstrap
@import "bootstrap";

// Components
@import "components/header";

// Fonts
@import "fonts/robotoCondensed";
@import "fonts/ubuntu";

// Buttons
@import "components/Buttons/buttonWhite";

* {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;

  background-color: rgba(25, 25, 25, 1);
  color: #fff;
}

::selection {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

html {
  min-height: 100%;
  position: relative;
}

:root {
  /*COLORS*/
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #ff7979;
  --tertiary-color-light: #ff9f9f;
}

::-webkit-scrollbar {
  width: 0.55em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}

.skip-link {
  /*BETTER HAVE SKIP LINK FOR USER EXPERIENCE*/
  display: none;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
}

button:focus {
  outline: none;
}

button {
  border: none;
}

.blog {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(25, 25, 25, 1);
  display: flex;
  align-items: center;
  flex-direction: column;

  &.closed {
    clip-path: circle(0% at 50% 50vh);
    transition: clip-path ease-in-out 0.8s;
  }
  &.open {
    clip-path: circle(200% at 50% 50vh);
    transition: clip-path ease-in-out 1s;
  }
}
.row-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  .col-header {
    flex-direction: column;
    align-items: center;
    &-2 {
      &.fixed {
        position: fixed;
        top: 50px;
        right: 2.9%;
      }
    }
  }
}
.about-me {
  text-align: center;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -13px;
    left: calc(50% - 125px);
    width: 250px;
    height: 2px;
    background: #fff;
  }
}
.fotomia {
  width: 250px;
  border-radius: 50%;
  margin-top: 30px;
  &-des {
    margin-top: 20px;
  }
}
.date {
  font-size: 0.8rem;
  color: rgba(185, 185, 185, 1);
}
.title {
  &-post {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 20px;
  }
  &-des {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 100px;
    align-self: start;
    line-height: 28px;
    &-special {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 25px;
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 30px;
      align-self: start;
      text-align: left;
      color: var(--tertiary-color-light);
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: -10px;
        left: 0;
        width: 200px;
        height: 2px;
        background: #fff;
      }
    }
  }
}
.img-post {
  transition: ease-in-out 0.3s;
  align-self: start;
  width: 50%;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.02);
      transition: ease-in-out 0.3s;
    }
  }
  @media screen and (max-width: 1000px) {
    & {
      width: 75%;
    }
  }
  @media screen and (max-width: 450px) {
    & {
      width: 100%;
    }
  }
}
.new-post {
  position: absolute;
  top: 6px;
  right: 0px;
  color: var(--tertiary-color-light);
  transition: ease-in-out 0.3s;
  animation-name: anima_new_post;
  animation-duration: 0.75s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;

  @media (pointer: coarse) {
    color: #fff;
  }
}
@keyframes anima_new_post {
  0% {
    transform: scale(1) rotateZ(20deg);
  }
  100% {
    transform: scale(1.3) rotateZ(20deg);
  }
}
.img-post {
  &-1,
  &-2,
  &-3,
  &-4,
  &-5,
  &-6,
  &-7,
  &-8,
  &-9,
  &-10,
  &-11 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 450px;
    position: relative;
    transition: ease-in-out 0.3s;
    z-index: 1;
    &::before,
    &::after {
      content: "";
      width: 0;
      transition: ease-in-out 0.3s;
      height: 0;
      background-color: var(--secondary-color);
      opacity: 0.05;
      position: absolute;
      z-index: 3;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.02);
        transition: ease-in-out 0.3s;
        &::before,
        &::after {
          width: 100%;
          height: 100%;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
  &-1 {
    background-image: url("/Images/name.jpg");
  }
  &-2 {
    background-image: url("/Images/selfie.jpg");
  }
  &-3 {
    background-image: url("/Images/indentity.jpeg");
  }
  &-4 {
    background-image: url("/Images/iam.png");
  }
  &-5 {
    background-image: url("/Images/culturalChallenges.jpg");
  }
  &-6 {
    background-image: url("/Images/actor.jpg");
  }
  &-7 {
    background-image: url("/Images/multi.jpg");
  }
  &-8 {
    background-image: url("/Images/cultural.png");
  }
  &-9 {
    background-image: url("/Images/class.jpg");
  }  
  &-10 {
    background-image: url("/Images/multi-10.png");
  }  
  &-11 {
    background-image: url("/Images/xd.jpg");
  }  

}
@media screen and (min-width: 701px) {
  .img-post-2 {
    height: 450px;
  }
  .img-post-4 {
    height: 450px;
  }
}

@media screen and (max-width: 700px) {
  .img-post-2 {
    height: 250px;
  }
  .img-post-4 {
    height: 150px;
  }
}

.rodrigo {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -13px;
    left: calc(50% - 125px);
    width: 250px;
    height: 3px;
    background: #fff;
  }
}

@media screen and (max-width: 992px) {
  .col-header-2 {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  .col-header-2,
  .col-header-1 {
    display: flex;
  }
}
.arrow {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
  svg {
    fill: #fff;
    cursor: pointer;
  }
}

.nav-top-menu-bar {
  &-icons {
    &-button {
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 50%;
      border: solid 3px #fff;
      background-color: #fff;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.3s;
      padding: 0;
      svg {
        fill: var(--primary-color);
        width: 90%;
        height: 90%;
        transition: ease-in-out 0.3s;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--tertiary-color);
          border: solid 3px var(--tertiary-color);
          svg {
            fill: var(--secondary-color);
            width: 90%;
            height: 90%;
            transition: ease-in-out 0.3s;
          }
          transform: translateY(-5px);
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
}
.menu {
  width: 100%;
  display: flex;
  margin-top: 30px;
  &-button {
    height: 100px;
    background-color: transparent;
    position: relative;
    &-text {
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: -15px;
        left: 15%;
        width: 70%;
        height: 2px;
        transition: ease-in-out 0.3s;
        background: var(--tertiary-color-light);
      }
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #ff7979;
        .new-post {
          color: #fff;
          transition: ease-in-out 0.3s;
        }
        .menu-button-text::after {
          left: 50%;
          width: 0;
          transition: ease-in-out 0.3s;
          background: #fff;
        }
      }
    }
    @media (pointer: coarse) {
      & {
        background-color: #ff7979e1;
        margin-top: 25px;
        margin-bottom: 25px;
        .menu-button-text {
          color: #fff;
        }
        .menu-button-text::after {
          left: 50%;
          width: 0;
          transition: ease-in-out 0.3s;
        }
      }
    }
    transition: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 576px) {
  .menu {
    width: 75%;
    &-button {
      &-text {
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  &-container {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 3px solid rgba(35, 35, 35, 1);
    background-color: rgba(20, 20, 20, 1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: background-color ease-in-out 0.5s, transform ease-in-out 0.3s;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--tertiary-color);
        transform: translateY(-5px);
        transition: background-color ease-in-out 0.5s, transform ease-in-out 0.3s;
      }
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
